.gradient-background {
  background-color: #bdccd1;
}

.full-height {
  min-height: 100vh;
}

.home_max-width {
  max-width: 500px;
}

.waiting-cursor {
  cursor: wait;
}

.logo-size {
  height: 50x;
  width: 50px;
}

@media screen and (min-width: 768px) {
  .logo-size {
    height: 270px;
    width: 270px;
  }
}

.navbar {
  background-color: #3c3f42;
  padding: 15px;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 2.5rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
  font-size: 3rem;
}

.home_max-width {
  margin-top: 80px;
}